RewriteEngine On

# https://www.drupal.org/node/2645198
RewriteRule "^.well-known/acme-challenge" - [L]

# http://stackoverflow.com/a/4399158/300224
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

################################################################################

# /zipcode.php?zipcode=12345 ==> /12345
RewriteCond %{QUERY_STRING} zipcode=(\d+)
RewriteRule ^zipcode.php %1? [L,R]

#DefaultType application/x-httpd-php

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [QSA,L]

RewriteRule ^([0-9]{5})$ zipcode.php?zipcode=$1 [NC,L]


################################################################################

AuthType Basic
AuthUserFile /home/sillyutility/www/.htpasswd
AuthName "Volunteer login"

<FilesMatch "volunteer">
Require user will su steve
</FilesMatch>

<FilesMatch "admin">
Require user will
</FilesMatch>
