/* Steals ideas from https://blackrockdigital.github.io/startbootstrap-new-age/ */

.primary-color-band {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52,#fdc539);
  background: linear-gradient(#fdcc52,#fdc539);
  color: white;
}
.secondary-color-band {
  background:#3498db;
  background:-webkit-linear-gradient(#3498db,#2980b9);
  background:linear-gradient(#3498db,#2980b9);
  color: white;  
}
section.selling-point {
  padding: 5em;
  font-size: 110%;
}
hr {
  margin: 1em auto;
}
hr.section {
  margin: 3em auto;
}
.navbar-brand {
  color: white;
}


.body-font{font-family:Muli,Helvetica,Arial,sans-serif}
body{font-family:Muli,Helvetica,Arial,sans-serif;webkit-tap-highlight-color:#222}
.navbar-default,.navbar-default .navbar-header .navbar-brand,h1,h2,h3,h4,h5,h6{font-family:Catamaran,Helvetica,Arial,sans-serif;font-weight:200;letter-spacing:1px}
.btn,.navbar-default .nav>li>a{font-family:Lato,Helvetica,Arial,sans-serif;text-transform:uppercase;letter-spacing:2px}

a:focus,a:hover{color:#fcbd20}
.navbar-default .navbar-header .navbar-brand{color:rgba(255,255,255,.7)}
.navbar-default .navbar-header .navbar-brand:focus,.navbar-default .navbar-header .navbar-brand:hover{color:#fff}
a{-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;color:#fdcc52}

footer{background-color:#222;padding:25px 0}
footer p{margin:0}
footer ul li a.active,footer ul li a:active,footer ul li a:focus,footer ul li a:hover{text-decoration:none}
footer p,footer ul li a{font-size:12px}
footer,footer ul li a{color:rgba(255,255,255,.3)}

.alert, .btn{border-radius:300px}


/* http://geniuscarrier.com/how-to-style-a-html-file-upload-button-in-pure-css/ */
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
